<template>
    <h3 v-if="user">Hello, {{ user }}</h3>
    <h3 v-else>You are not logged in!</h3>
    {{ user }}
</template>

<script setup>
// import axios from 'axios';
// import { reactive, ref, onMounted } from 'vue';

// let user = ref('')




// onMounted(() => {
//     try {
//         const getUser = async () => {
//             const response = await axios.get('/api/user', {
//                 headers: {
//                     Authorization: `Bearer ${localStorage.getItem('token')}`
//                 }
//             });
//             if (response.data.id) {
//                 user.value = await response.data.firstname

//             }

//         }
//         getUser();
//     } catch (err) {
//         console.log(err)
//     }

// })

props: ['user']
</script>

<style lang="scss" scoped></style>