<template>
    <form @submit.prevent="handleSubmit">
        <h3>Login</h3>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" placeholder="Email" v-model="fields.email">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Password" v-model="fields.password">
        </div>

        <button class="btn btn-primary btn-block">Login</button>
    </form>
</template>

<script setup>
import { reactive } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';
const router = useRouter();
const fields = reactive({
    email: '',
    password: '',
})

const handleSubmit = async () => {
    // try the code block
    try {
        // deconstructing data from fields object
        const { email, password } = fields;
        // send post method to register endpoint along with data from destructured object
        const response = await axios.post('/api/login', {
            email,
            password,
        });
        // statement for success

        if (response.data.success) {
            localStorage.setItem('token', response.data.data.token)
            router.push({ name: 'Home' })
        } else {
            console.log(response.data.message)
        }

    } catch (err) {
        console.log(err)
    }

}
</script>

<style lang="scss" scoped></style>