<template>
    <nav class="navbar navbar-expand navbar-light fixed-top">
        <div class="container">
            <RouterLink :to="{ name: 'Home' }" class="navbar-brand">Home</RouterLink>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <RouterLink :to="{ name: 'Login' }" class="nav-link">Login</RouterLink>
                    </li>
                    <li class="nav-item">
                        <RouterLink :to="{ name: 'Register' }" class="nav-link">Sign Up</RouterLink>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script setup>
import { RouterLink } from 'vue-router'
import { onMounted } from 'vue'
import axios from 'axios';
onMounted(() => {
    try {
        const getUser = async () => {
            const response = await axios.get('/api/user');
            if (response.data.id) {

            }
        }
        getUser();
    } catch (err) {
        console.log(err)
    }

})
</script>

<style scoped></style>