<template>
    <form @submit.prevent="handleSubmit">
        <h3>Sign Up</h3>
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" v-model="fields.firstname">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" v-model="fields.lastname">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" placeholder="Email" v-model="fields.email">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Password" v-model="fields.password">
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password" v-model="fields.password_confirm">
        </div>
        <button class="btn btn-primary btn-block">Sign Up</button>

    </form>
</template>

<script setup>
import { reactive } from "vue";
import axios from 'axios';
import { useRouter } from 'vue-router';
const router = useRouter();
const fields = reactive({
    firstname: '',
    lastname: '',
    email: '',
    password: '',
    password_confirm: ''
})

// default
// const handleSubmit = () => {
//     const { firstname, lastname, email, password, password_confirm } = fields
//     axios.post('/api/register', {
//         firstname,
//         lastname,
//         email,
//         password,
//         password_confirm,
//     }, {}).then((res) => {
//         console.log(res)
//     }).catch((err) => {
//         console.log(err)
//     })
// }

// using async await

const handleSubmit = async () => {
    // try the code block
    try {
        // deconstructing data from fields object
        const { firstname, lastname, email, password, password_confirm } = fields;
        // send post method to register endpoint along with data from destructured object
        const response = await axios.post('/api/register', {
            firstname,
            lastname,
            email,
            password,
            password_confirm,
        });
        // statement for success
        router.push({ name: 'Login' })
        console.log(response);
    } catch (err) {
        console.log(err)
    }

}

</script>

<style lang="scss" scoped></style>