<script setup>
import Nav from './components/Nav.vue';
import Home from './components/Home.vue';
import Login from './components/Login.vue';
import { RouterView } from 'vue-router';

import axios from 'axios';
import { reactive, ref, onMounted } from 'vue';

let user = ref('')




onMounted(() => {
  try {
    const getUser = async () => {
      const response = await axios.get('/api/user', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      });
      if (response.data.id) {
        user.value = await response.data.firstname
      }

    }
    getUser();
  } catch (err) {
    console.log(err)
  }

})

</script>


<template>
  <div class="app">
    <!-- Nav -->
    <Nav />
    <div class="auth-wrapper">
      <div class="auth-inner">
        <RouterView :user="user" />
      </div>
    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #1c8ef9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body,
html,
#app {
  text-align: center;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;

}

.forgot-password {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  color: #f7f7d7;
  margin: 0;
}
</style>
